*{
  margin: 0;
  padding: 0;
}
body
{
    width: 100%;
    height: auto;

}
.task1, .task2
{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task2
{
    flex-direction: column;
    height: 500px;
}


.user-form, .output-field
{
  height: auto;
  width: 300px;
  display: flex;
  border: 2px solid rgb(69, 10, 87);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  background-color: rgb(245, 224, 245);
}
input
{
  margin: 20px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}
button
{
  height: 20%;
  width: 50%;
  border-radius: 20px;
  line-height: 40px;
  background-color: rgb(241, 189, 233);
}
button:hover
{
  transition-duration: 0.7s;
  background-color: rgb(248, 162, 234);
  border-radius:50px;
}

.output-field
{
    width: 300px;
}

.output-field > h2
{
    padding-bottom: 5px;
    font-size: 26px;
}

.output-text > p
{
    padding: 5px;
    font-size: 18px;
}