*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #75c9f6;
}

.users-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #a4d1ed;
}

.user
{
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    border: 1px solid black;
}

img
{
    border: 1px solid black;
    width: 80%;
    object-fit: contain;
}
p
{
    margin-top: 10px;
    width: 80%;
    overflow-wrap: break-word;
    font-size: 16px;
}
.button-wrapper
{
    background-color: #a4d1ed;
    border: 1px solid black;
}

button
{
    background-color: inherit;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
svg
{
    width: 60%;
    height: auto;
}